#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

.container {
	width: 100%;
 	padding: 0px;
}
.navbar{
  margin-bottom: 0px;
}
.navbar-default{
  color: white;
  background-color: #14749b;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand,.nav-s>li>a {
  color: white;
}
.n3{
  width: 100%;
}
#sidebar-wrapper{
	z-index:1001;
	border-left: 2px solid black;
}
.n3>li>a:hover {
  color: wheat;
  background-color: inherit;
}

.tab-content{
    margin-right: 250px;
    padding-left: 10px;

}
.just-for-toggle{
	margin-right: 0px;
}
.row{
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 10px;
}
.n4{
    padding-left: 15px;
}
.span2{
    font-size: 20px;
    font-weight: 700;
}
.noborder{
    border: none;
}
.tbc2{
    margin-right: 10px;
}
.table>tbody>tr>.padd-td{
    padding-left: 6%;
}
.padd-right{
    padding-left: 15px;
}
.img1{
    float: right;
    width: 40%;
    height: 50%;
    border: none;
}
.r2{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: none;
}
.for-float{
    float: left; 
    padding-top: 20px;
}

@media(min-width:768px) {
    #wrapper {
        
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 250px;
		margin-top: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(max-width:600px) {
    .tab-content{
        margin-right: 0px;
    }
    #sidebar-wrapper{
        margin-top: 40%;
        background-color: white;
        overflow: auto;
        padding-bottom: 220px;
    }
}